<div class="container-card">
  <ul nz-menu nzMode="inline">
    <li nz-menu-item [routerLink]="['overview']" [nzMatchRouter]="true">
      <span nz-icon nzType="home"> </span>
      {{ 'pages.organization.side_menu.overview_menu_item' | translate }}
    </li>
    <li nz-menu-item [routerLink]="['participation']" [nzMatchRouter]="true">
      <span nz-icon nzType="check-square" nzTheme="outline"></span>
      {{ 'pages.organization.side_menu.participation_menu_item' | translate }}
    </li>
    <li nz-menu-item [routerLink]="['members']" [nzMatchRouter]="true">
      <span nz-icon nzType="team"> </span>
      {{ 'pages.organization.side_menu.members_menu_item' | translate }}
    </li>
  </ul>
</div>
