<ng-container
  *ngIf="{
    userBallot: userBallot$ | async,
    vote: vote$ | async,
    voteOptions: voteOptions$ | async
  } as voteData"
>
  <nz-modal
    [(nzVisible)]="visible"
    (nzOnCancel)="close()"
    (nzOnOk)="save()"
    (nzAfterClose)="afterClose()"
    [nzOkDisabled]="!selectedVoteOptionId || !!voteData.userBallot"
    [nzTitle]="
      'pages.organization.participation.cast_ballot_modal.title' | translate
    "
  >
    <ng-container *nzModalContent>
      <ng-container
        *ngIf="voteData.userBallot !== undefined && voteData.vote; else loading"
      >
        <span nz-typography [nzType]="'secondary'">
          {{
            'pages.organization.participation.cast_ballot_modal.vote_type_label'
              | translate
          }}
        </span>
        <h3 nz-typography style="margin-top: 0">
          {{ voteData.vote.name }}
        </h3>
        <p nz-typography>{{ voteData.vote.description }}</p>

        <nz-checkbox-wrapper>
          <div *ngFor="let voteOption of voteData.voteOptions" nz-row>
            <label
              (ngModelChange)="selectVoteOption(voteOption)"
              [ngModel]="
                voteOption.id === selectedVoteOptionId ||
                voteOption.id === voteData.userBallot?.voteOptionId
              "
              [nzDisabled]="!!voteData.userBallot"
              nz-checkbox
            >
              {{ voteOption.name }}
            </label>
          </div>
        </nz-checkbox-wrapper>
      </ng-container>

      <ng-template #loading></ng-template>
    </ng-container>
  </nz-modal>
</ng-container>
