@import '~ng-zorro-antd/ng-zorro-antd.min.css';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/utilities';

.container-centered {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-card {
  overflow: hidden;
  background-color: #fafafa !important;
  border-radius: 1rem;
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
}

nz-page-header {
  @extend .container-card;
}

.ant-menu.ant-menu-inline {
  background-color: transparent;
}

.ant-btn {
  border-radius: 6px !important;
}

.ant-input,
nz-input-group {
  border-radius: 6px !important;
}

.ant-menu-title-content {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
