<nz-modal
  [(nzVisible)]="visible"
  (nzOnCancel)="close()"
  (nzOnOk)="save()"
  [nzOkDisabled]="formGroup.invalid"
  [nzTitle]="'pages.organization.members.add_member_modal.title' | translate"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formGroup" (ngSubmit)="save()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input
              [placeholder]="
                'pages.organization.members.add_member_modal.email_input.placeholder'
                  | translate
              "
              type="text"
              nz-input
              formControlName="email"
              name="email"
              type="email"
              autocomplete="email"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
