<nz-page-header
  [nzTitle]="'pages.organization.members.page_header_title' | translate"
>
  <nz-page-header-extra>
    <button (click)="addMemberModal.open()" nz-button>
      {{
        'pages.organization.members.open_add_member_modal_button' | translate
      }}
    </button>
    <co-app-add-member-modal #addMemberModal></co-app-add-member-modal>
  </nz-page-header-extra>

  <nz-page-header-content>
    <co-app-members-table></co-app-members-table>
  </nz-page-header-content>
</nz-page-header>
