<nz-modal
  [(nzVisible)]="visible"
  (nzOnCancel)="close()"
  (nzOnOk)="save()"
  [nzOkDisabled]="formGroup.invalid"
  [nzTitle]="
    'pages.organization.participation.create_vote_modal.title' | translate
  "
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formGroup" (ngSubmit)="save()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input
              [placeholder]="
                'pages.organization.participation.create_vote_modal.name_input.placeholder'
                  | translate
              "
              type="text"
              nz-input
              formControlName="name"
              name="name"
              type="text"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <textarea
              [placeholder]="
                'pages.organization.participation.create_vote_modal.description_input.placeholder'
                  | translate
              "
              nz-input
              type="text"
              formControlName="description"
              name="description"
              type="text"
              rows="3"
            ></textarea>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <h5 nz-typography>
        {{
          'pages.organization.participation.create_vote_modal.vote_options_header'
            | translate
        }}
      </h5>

      <nz-form-item *ngFor="let option of voteOptionList">
        <nz-form-control>
          <input
            nz-input
            [value]="option"
            type="text"
            name="description"
            type="text"
            rows="10"
            readonly
          />
        </nz-form-control>
      </nz-form-item>

      <h5 nz-typography>
        {{
          'pages.organization.participation.create_vote_modal.voting_period_header'
            | translate
        }}
      </h5>

      <nz-range-picker
        [nzShowTime]="{ nzFormat: 'HH:mm:ss' }"
        formControlName="votingPeriod"
      ></nz-range-picker>
    </form>
  </ng-container>
</nz-modal>
