<nz-page-header
  [nzTitle]="'pages.organization.overview.page_header_title' | translate"
>
  <nz-page-header-extra>
    <button *ngIf="!isEditing" (click)="edit()" nz-button>
      {{ 'common.edit' | translate }}
    </button>

    <nz-space *ngIf="isEditing">
      <button (click)="save()" *nzSpaceItem nz-button nzType="primary">
        {{ 'common.save' | translate }}
      </button>
      <button (click)="cancel()" *nzSpaceItem nz-button>
        {{ 'common.cancel' | translate }}
      </button>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-content>
    <co-app-organization-bulletin
      [(bulletin)]="bulletin"
      [isEditing]="isEditing"
    ></co-app-organization-bulletin>
  </nz-page-header-content>
</nz-page-header>
