<h5 nz-typography>
  {{
    'pages.organization.participation.upcoming_votes_table_title' | translate
  }}
</h5>

<nz-table *ngIf="votes" #upcomingVotesTable [nzData]="votes">
  <thead>
    <tr>
      <th>
        {{
          'pages.organization.participation.upcoming_votes_table.name'
            | translate
        }}
      </th>
      <th>
        {{
          'pages.organization.participation.upcoming_votes_table.starts_at'
            | translate
        }}
      </th>
      <th width="160"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vote of upcomingVotesTable.data">
      <td>
        {{ vote.name }}
      </td>
      <td>
        {{ vote.startsAt | date : 'short' }}
      </td>
      <td>
        <a (click)="votePreviewModal.open(vote)" nz-button nzType="link">
          {{
            'pages.organization.participation.upcoming_votes_table_show_vote_modal_button'
              | translate
          }}
        </a>
        <co-app-vote-preview-modal
          #votePreviewModal
        ></co-app-vote-preview-modal>
      </td>
    </tr>
  </tbody>
</nz-table>
